body {
    padding-top: 80px; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;

    padding: 20px 50px 0;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .burger {
            display: none; 
            background: none;
            border: none;
            cursor: pointer;
            z-index: 1001;
        }
        .menu-header {
            display: flex; 
            flex-direction: column;
            gap: 17px;
            .menu {
                text-decoration: none;
                color: #16232B;
                font-size: 14px;
                &:hover {
                    color: #ff8912;
                }
            }
        }
    }

    &.scrolled {
        background-color: rgba(255, 255, 255, 0.519);
        .header {
            align-items: center;
            .menu-header {
                display: none; 
            }
            .burger {
                display: block; 
            }
        }
    }
}

.menu-header.active {
    display: flex !important; 
    position: absolute;
    top: 80%;
    right: 50px;
    background: rgba(255, 255, 255, 0.519);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
    z-index: 999;
}

@media screen and (max-width: 1100px) {
    header {
        padding: 15px 20px 0;
    }
}
@media (max-width: 700px) {
    header {
        padding: 15px 20px 0;
        .header {
            .logo {
                margin-top: -5px;
                margin-left: -15px;
                a {
                    img {
                        width: 170px;
                        height: 43px;
                    }
                }
            }
            .burger {
                display: block !important; 
                z-index: 1000;
            }
            .menu-header {
                display: none;
                gap: 10px;
                justify-content: flex-end;
                position: absolute;
                top: 50px;
                right: 20px;
                background: #ffffff83;
                padding: 10px;
                border-radius: 5px;

                .menu {
                    text-align: right;
                    font-size: 12px;
                }
            }
        }
    }

    .menu-header.active {
        top: 50px;
        right: 20px;
        background: #ffffff83;
        padding: 10px;
        border-radius: 5px;
    }
}