.productiob-1 {
    padding: 40.86px 0 0 50px;
    display: flex;
    gap: 5px;
    a, p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: #16232B;
        z-index: 1005;
    }
    a {
        opacity: 30%;
        text-decoration: none;
        cursor: pointer;
        
    }
}

@media screen and (max-width: 500px) {
    .productiob-1 {
        display: none;
    }
}